<html xmlns:th="http://www.thymeleaf.org">
<head>  
	<title>Online Shopping</title>		
</head>
<body>
	<!-- Modal -->
	<div th:fragment="confirmDeletion (title, message)" class="modal fade" id="confirmationModalDialog" tabindex="-1" role="dialog" aria-labelledby="confirmationModalDialogLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="confirmationModalDialogLabel" th:text="${#strings.isEmpty(title)}? 'Need confirmation' : ${title}"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	         <p th:text="${#strings.isEmpty(message)}? 'Are you sure to delete these items ?' : ${message}"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        <a href="#" class="btn btn-primary" id="btn-confirmation-delete">OK</a>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>