<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{management/admin-template}">
<head>    
	<title>Forbidden</title>
</head>
<body>
	<div id="page">
		
		<main class="main-content mt-4">
		
			<div class="container">
				<div class="row">
				
					<div class="col-md-12">
					
						<div class="alert alert-danger" role="alert">
							<p>Vous n'avez pas les droits requis pour acceder a cette page</p>
						</div>
					</div>
				</div>
			</div>
		
		</main>
		
	</div><!-- #page -->


	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
</body>
</html>