<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{management/admin-template}">
<head>
<title>List of suppliers</title>
<link th:href="@{/assets/data-tables/datatables.min.css}" rel="stylesheet"/>	
</head>
<body>
	<div layout:fragment="ui-view-content">
       	<h2><i class="fas fa-people-carry"></i><span class="pl-3">Suppliers Management</span></h2>
       	<hr class="mb-3">
       	
       	<div class="card">
			<div class="card-header">
				<i class="fas fa-people-carry"></i><span class="pl-3">Suppliers Management</span>
			</div>
			
			<div class="card-body">
				<div id="action-buttons">
					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse-form" aria-expanded="false" aria-controls="collapse-form">
						<i class="fas fa-list"></i><span class="pl-3">Add Supplier</span>
					</button>
					
					<div class="btn-group">						
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-check-double"></i><span class="pl-3">Actions ...</span> 
						</button>
						
						<div class="dropdown-menu" x-placement="bottom-start">
							<a id="btn-delete-selected-items" class="dropdown-item" href="#">
								<i class="fas fa-trash-alt"></i><span class="pl-3">Delete selected suppliers</span></a>
							<a id="btn-delete-all" class="dropdown-item" href="/online-shopping/manage/suppliers/delete/all">
								<i class="fas fa-recycle"></i><span class="pl-3">Delete all suppliers</span>
							</a>
						</div>
					</div>
				</div>
				
				<div class="collapse" th:classappend="${hasErrors} ? 'show' : (${#httpServletRequest.getParameter('new')} ? 'show' : '')" id="collapse-form">
					<div class="card card-body mt-4">
					
						<div class="alert alert-danger" role="alert" th:if="${supplierExist}">
						  <h4 class="alert-heading">Error</h4>
						  <p>Oops, the supplier you want to add already exists.</p>
						  <hr>
						  <p class="mb-0">Make some changes and submit the form again.</p>
						  
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
					
						<!-- Form for adding new supplier -->							      				        	
						<form class="form-add-supplier" method="post" th:action="@{/manage/suppliers}" id="form-add" th:object="${supplier}">
							<div class="container-fluid">
								
								<input type="hidden" name="supplierId" id="supplierId" value="" />
							
								<div class="row">
									<div class="col-md-12">									
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('name')}">Name</label>
											<input type="text" th:field="*{name}" class="form-control alz-ctr" placeholder="Supplier name" required th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Supplier name is required</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6">								  	
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('email')}">Email address</label>
											<input type="email" th:field="*{email}" class="form-control alz-ctr" placeholder="john.doe@example.com" required th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Supplier email address is required</div>
										</div>
									</div>	
									
									<div class="col-md-6">								  	
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('phone')}">Telephone</label>
											<input type="text" th:field="*{phone}" class="form-control alz-ctr" placeholder="Supplier telephone" required th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Supplier telephone is required</div>
										</div>
									</div>								
								</div>
								
								<div class="row">
									<div class="col-md-12">								  	
										<button type="submit" class="btn btn-primary">Save</button>
										<span class="pl-3"></span>
										<button id="btn-close-collapse" type="button" class="btn btn-danger">Close</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="card">
			<div class="card-header">
           		<i class="fas fa-list"></i><span class="pl-3">Suppliers list</span>
           	</div>
                   
            <div class="card-body">
                <table class="table table-striped table-bordered suppliers-list" id="itemsList">
					<thead>
						<tr>
							<th><input type="checkbox" id="select-all-ckbx" value="supplier" /></th>
							<th>Name</th>
							<th>Telephone</th>
							<th>Email Address</th>
							<th>Action</th>
						</tr>
					</thead>
				
					<tbody>
						<tr th:each="supplier : ${suppliers}">
							<td>
			    				<input type="checkbox" class="alz-selected" th:value="${supplier.supplierId}" />
			    			</td>
							<td class="align-middle" th:text="${supplier.name}"></td>
							<td class="align-middle" th:text="${supplier.phone}"></td>
							<td class="align-middle" th:text="${supplier.email}"></td>
							<td class="align-middle">
								<div class="dropdown">
								  <button class="btn btn-info dropdown-toggle" type="button" th:id="${'dropdownMenuBtn' + {supplier.supplierId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <i class="fas fa-list"></i><span class="pl-3">Action</span> 
								  </button>
								  <div class="dropdown-menu" th:aria-labelledby="${'dropdownMenuBtn' + {supplier.supplierId}}">
								    <a class="dropdown-item btn-edit" th:href="@{'/manage/suppliers/' + ${supplier.supplierId} + '/edit'}"><i class="fas fa-edit"></i><span class="pl-3">Edit</span></a>
								    <a class="dropdown-item btn-delete" th:href="@{'/manage/suppliers/' + ${supplier.supplierId} + '/delete'}"><i class="fas fa-trash"></i><span class="pl-3">Delete</span></a>
								  </div>
								</div>					
							</td>
						</tr>			
					</tbody>
					<tfoot>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Telephone</th>
							<th>Email Address</th>
							<th>Action</th>
						</tr>
					</tfoot>
				</table>
               </div>						
		</div>
		
		<!-- Confirmation modal dialog -->
		<div th:replace="fragments/deletionConfirmationModal :: confirmDeletion('Category Deletion', 'Are you sure to delete these suppliers ?')"></div>
		
	</div>
</body>
</html>