<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{pages/template-no-sidebar}">
<head>
<title>Error</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="alert alert-danger" role="alert">
		   <p th:utext="${error}"></p>
		</div>
		
		<p  class="text-center">
			<a class="btn btn-large btn-primary align-middle" th:href="@{/}"><i class="fas fa-home"></i> Go Home</a>
		</p>
	</div>

</body>
</html>