<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{management/admin-template}">
<head>
<title>List of users</title>
<link th:href="@{/assets/data-tables/datatables.min.css}" rel="stylesheet"/>	
</head>
<body>
	<div layout:fragment="ui-view-content">
       	<h2><i class="fas fa-users"></i><span class="pl-3">Users Management</span></h2>
       	<hr class="mb-3">
       	
       	<div class="card">
			<div class="card-header">
				<i class="fas fa-users"></i><span class="pl-3">Users Management</span>
			</div>
			
			<div class="card-body">
				<div id="action-buttons">
					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse-form" aria-expanded="false" aria-controls="collapse-form">
						<i class="fas fa-list"></i><span class="pl-3">Add User</span>
					</button>
					
					<div class="btn-group">						
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-check-double"></i><span class="pl-3">Actions ...</span> 
						</button>
						
						<div class="dropdown-menu">
							<a id="btn-delete-selected-items" class="dropdown-item" href="#">
								<i class="fas fa-trash-alt"></i><span class="pl-3">Delete selected users</span>
							</a>
							
							<a id="btn-delete-all" class="dropdown-item" th:href="@{/manage/users/delete/all}">
								<i class="fas fa-recycle"></i><span class="pl-3">Delete all users</span>
							</a>
						</div>
					</div>
				</div>
				
				<div class="collapse" th:classappend="${hasErrors} ? 'show' : (${#httpServletRequest.getParameter('new')} ? 'show' : '')" id="collapse-form">
					<div class="card card-body mt-4">
					
						<div class="alert alert-danger" user="alert" th:if="${userExist}">
						  <h4 class="alert-heading">Error</h4>
						  <p>Oops, the user you want to add already exists.</p>
						  <hr>
						  <p class="mb-0">Make some changes and submit the form again.</p>
						  
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
					
						<!-- Form for adding new product -->							      				        	
						<form class="form-add-user" method="post" th:action="@{/manage/users}" id="form-add" th:object="${user}">
							<div class="container-fluid">
								
								<input type="hidden" name="userId" id="userId" value="" />
							
								<div class="row">
									<div class="col-md-6">									
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('firstName')}">First name</label>
											<input type="text" th:field="*{firstName}" class="form-control alz-ctr" placeholder="First name" required th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name is required</div>
										</div>
									</div>	
									
									<div class="col-md-6">									
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('lastName')}">Last name</label>
											<input type="text" th:field="*{lastName}" class="form-control alz-ctr" placeholder="Last name" required th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name is required</div>
										</div>
									</div>									
								</div>
								
								<div class="row">
									<div class="col-md-6">									
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('username')}">Username</label>
											<input type="text" th:field="*{username}" class="form-control alz-ctr" placeholder="Username" required th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username is required</div>
										</div>
									</div>	
									
									<div class="col-md-6">									
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('email')}">Email address</label>
											<input type="email" th:field="*{email}" class="form-control alz-ctr" placeholder="john.doe@example.com" required th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email address</div>
										</div>
									</div>									
								</div>
								
								<div class="row">
									<div class="col-md-6">									
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('phone')}">Telephone</label>
											<input type="text" th:field="*{phone}" class="form-control alz-ctr" placeholder="Telephone" required th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Telephone is required</div>
										</div>
									</div>	
									
									<div class="col-md-6">									
										<div class="form-group">
											<label class="col-form-label" th:for="${#ids.next('password')}">Password</label>
											<input type="password" th:field="*{password}" class="form-control alz-ctr" placeholder="********" required th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">
											<div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password</div>
										</div>
									</div>									
								</div>
								
								<div class="row">	
									<div class="col-md-6">								  	
										<div class="form-group">
											<label class="col-form-label" for="billingAddresses">Billing Addresses</label>									  	
											<select id="billingAddresses" th:field="*{billingAddresses}" class="form-control" name="billingAddresses" multiple>
												<option th:each="address : ${addresses}" th:text="${address}" th:value="${address.addressId}"></option>
											</select>										
										</div>
									</div>
									
									<div class="col-md-6">								  	
										<div class="form-group">
											<label class="col-form-label" for="roles">Roles</label>									  	
											<select id="roles" th:field="*{roles}" class="form-control" name="roles" multiple>
												<option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.roleId}"></option>
											</select>										
										</div>
									</div>								
								</div>
								
								<div class="row">
									<div class="col-md-12">								  	
										<button type="submit" class="btn btn-primary">Save</button>
										<span class="pl-3"></span>
										<button id="btn-close-collapse" type="button" class="btn btn-danger">Close</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="card">
			<div class="card-header">
           		<i class="fas fa-list"></i><span class="pl-3">Users list</span>
           	</div>
                   
            <div class="card-body">
                <table class="table table-striped table-bordered users-list" id="itemsList">
					<thead>
						<tr>
							<th><input type="checkbox" id="select-all-ckbx" value="user" /></th>
							<th>Username</th>
							<th>Full Name</th>
							<th>Email</th>
							<th>Telephone</th>
							<th>Active</th>
							<th>Roles</th>
							<th>Address</th>
							<th>Action</th>
						</tr>
					</thead>
				
					<tbody>
						<tr th:each="user : ${users}">
							<td>
			    				<input type="checkbox" class="alz-selected" th:value="${user.userId}" />
			    			</td>
							<td class="align-middle" th:text="${user.username}"></td>
							<td class="align-middle" th:text="${user.firstName + ' ' + {user.lastName}}"></td>
							<td class="align-middle" th:text="${user.email}"></td>
							<td class="align-middle" th:text="${user.phone}"></td>
							<td class="align-middle">
								<label class="switch switch-pill switch-label switch-primary">
								  	<input type="checkbox" class="switch-input" th:value="${user.userId}" th:checked="${user.isActive}"/>
								  	<span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
								</label>
							</td>
							<td class="align-middle">
								<ul th:if="${not #lists.isEmpty(user.roles)}" class="list-unstyled">
									<li th:each="role : ${user.roles}">
										<a class="btn-edit-priv" th:href="@{'/manage/roles/' + ${role.roleId} + '/edit'}">
											<i class="fas fa-edit"></i><span class="pl-3" th:text="${role.name}">Edit</span>
										</a>
									</li>
								</ul>
							</td>
							<td class="align-middle">
								<ul th:if="${not #lists.isEmpty(user.billingAddresses)}" class="list-unstyled">
									<li th:each="address : ${user.billingAddresses}">
										<a class="btn-edit-priv" th:href="@{'/manage/addresses/' + ${address.addressId} + '/edit'}">
											<i class="fas fa-edit"></i><span class="pl-3" th:text="${address}">Edit</span>
										</a>
									</li>
								</ul>
							</td>
							<td class="align-middle">
								<div class="dropdown">
								  <button class="btn btn-info dropdown-toggle" type="button" th:id="${'dropdownMenuBtn' + {user.userId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <i class="fas fa-list"></i><span class="pl-3">Action</span> 
								  </button>
								  <div class="dropdown-menu" th:aria-labelledby="${'dropdownMenuBtn' + user.userId}">
								    <a class="dropdown-item btn-edit" th:href="@{'/manage/users/' + ${user.userId} + '/edit'}"><i class="fas fa-edit"></i><span class="pl-3">Edit</span></a>
								    <a class="dropdown-item btn-delete" th:href="@{'/manage/users/' + ${user.userId} + '/delete'}"><i class="fas fa-trash"></i><span class="pl-3">Delete</span></a>
								  </div>
								</div>					
							</td>
						</tr>			
					</tbody>
					<tfoot>
						<tr>
							<th></th>
							<th>Username</th>
							<th>Full Name</th>
							<th>Email</th>
							<th>Telephone</th>
							<th>Active</th>
							<th>Roles</th>
							<th>Address</th>
							<th>Action</th>
						</tr>
					</tfoot>
				</table>
               </div>						
		</div>
		
		<!-- Confirmation modal dialog -->
		<div th:replace="fragments/deletionConfirmationModal :: confirmDeletion('User Deletion', 'Are you sure to delete these users ?')"></div>
		
	</div>
</body>
</html>